@font-face {
    font-family: 'FoundersGrotesk';
    src: url('./fonts/Founders-Grotesk-400.ttf');
}

@font-face {
    font-family: 'Montaga';
    src: url('./fonts/Montaga.ttf');
}

@font-face {
    font-family: "Moonwild";
    src: url('./fonts/Moonwild.otf');
}